{% lare_extends "program.html" LARE_PREFIX~'.Presentation'  "__lare.html" %}

{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
{% if site == 'hello' %}
        <strong style="font-size: 30px; font-weight: bold;">Hallo</strong>
        <ul style="font-size: 20px;">
            <li>Gruppe:
                <ul>
                    <li>Baudach, Wibke</li>
                    <li>Braun, Jonas</li>
                    <li>Sokolowski, Irina</li>
                </ul>
            </li>
            <li style="margin-top: 20px;">
                Ziel:
                <ul>
                    <li>Plattform mit WebGL</li>
                    <li>Shader ohne Overhead programmieren</li>
                    <li>NPR Shader als Samples</li>
                </ul>
            </li>
            <li style="margin-top: 20px;">
                State of the art:
                <ul>
                    <li>Es gibt andere Plattformen dieser Art</li>
                    <li>Shadertoy.com (Kein leichter Zugang, kein Vertex Shader)</li>
                    <li>Oft nur Fragment/Vertex Shader</li>
                </ul>
            </li>
        </ul>
{% endif %}
{% if site == 'general' %}
        <strong style="font-size: 30px; font-weight: bold;">Allgemeines</strong>
        <ul style="font-size: 20px;">
            <li>Platform:
                <ul>
                    <li>PHP 5, Mysql, jQuery, lare.js, THREE.js</li>
                    <li>MVC Web-application, Object-Relation-Mapping</li>
                </ul>
            </li>
        </ul>
        <ul style="font-size: 20px;">
            <li>WebGL:
                <ul>
                    <li>~ OpenGL 2.0 es</li>
                    <li style="margin-top: 20px;"><span class="fa fa-check"></span> Fragment, Vertex Shader</li>
                    <li><span class="fa fa-times"></span> Tesselation, Geometry and Compute Shader</li>
                    <li style="margin-top: 20px;"><span class="fa fa-check"></span> (for int i=0; i < 42; i++) </li>
                    <li><span class="fa fa-times"></span> (for int i=0; i < x; i++) // x not allowed</li>
                    <li style="margin-top: 20px;"><span class="fa fa-check"></span>  array[42]  = 5;</li>
                    <li><span class="fa fa-times"></span>  array[i]  = 5; // i not allowed</li>
                </ul>
            </li>
        </ul>
{% endif %}
{% if site == 'structure' %}
        <strong style="font-size: 30px; font-weight: bold;">Aufbau</strong>
        <ul style="font-size: 20px;">
            <li>Ein Programm besteht aus:
                <ul>
                    <li>Modell</li>
                    <li style="margin-top: 20px;">Texturen</li>
                    <li style="margin-top: 20px;">Init-Methode (Javascript)
                        <ul>
                            <li>
                                wird vor dem ersten Frame ausgeführt
                            </li>
                        </ul>
                    </li>
                    <li style="margin-top: 20px;">Render-Methode (Javascript)
                        <ul>
                            <li>
                                z.B. Animation
                            </li>
                            <li>
                                wird vor jedem Frame aufgerufen
                            </li>
                        </ul>
                    </li>
                    <li style="margin-top: 20px;">Renderpasses (GLSL)
                        <ul>
                            <li>
                                Rendertarget
                            </li>
                            <li>
                                Vertex-Shader
                            </li>
                            <li>
                                Fragment-Shader
                            </li>
                        </ul>
                    </li>
                    <li style="margin-top: 20px;">Postprocessing
                        <ul>
                            <li>
                                Vertex-Shader
                            </li>
                            <li>
                                Fragment-Shader
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
{% endif %}
{% if site == 'shader' %}
        <strong style="font-size: 30px; font-weight: bold;">Shader</strong>
        <ul style="font-size: 20px;">
            <li>Cel Shading
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '15' %}" target="_blank">Variante Normalen</a></li>
                    <li><a href="http://souch.iekadou.com{% url 'program' '20' %}" target="_blank">Variante Normalen + Z-Werte</a></li>
                    <li><a href="http://souch.iekadou.com{% url 'program' '9' %}" target="_blank">Variante FXAA</a></li>
                </ul>
            </li>
            <li>Postprocessing
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '35' %}" target="_blank">Frei Chen</a></li>
                    <li><a href="http://souch.iekadou.com{% url 'program' '26' %}" target="_blank">Texturierte Outlines und Fülltextur</a></li>
                </ul>
            </li>
            <li>DOF
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '27' %}" target="_blank">Normals + DOF</a></li>
                </ul>
            </li>
            <li>Gooch
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '14' %}" target="_blank">Mit oder ohne Beleuchtung</a></li>
                </ul>
            </li>
            <li>Retro
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '16' %}" target="_blank">Skalierbarer "Pixelator"</a></li>
                </ul>
            <li>Hatching
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '13' %}" target="_blank">Renderpass oder Postprocess</a></li>
                </ul>
            <li>Aquarell
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '22' %}" target="_blank">Aquarell</a></li>
                </ul>
            </li>
            <li>Fresnel
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '18' %}" target="_blank">Fresnel Rim</a></li>
                </ul>
            </li>
            <li>Edges
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '32' %}" target="_blank">Sobel</a></li>
                </ul>
            </li>
            <li>Sketch
                <ul>
                    <li><a href="http://souch.iekadou.com{% url 'program' '36' %}" target="_blank">Sketch</a></li>
                </ul>
            </li>
        </ul>
{% endif %}
{% if site == 'remarks' %}
        <strong style="font-size: 30px; font-weight: bold;">Fazit</strong>
        <ul style="font-size: 20px;">
            <li>Mehrere Anläufe der Programmstruktur</li>
            <li style="margin-top: 20px;">Ergebnis recht generisch</li>
            <li style="margin-top: 20px;">Future Work
                <ul>
                    <li>Speichern als Datei</li>
                    <li>Share</li>
                    <li>(Maus/Keyboard) Interaktion</li>
                    <li>Szene / Mehrere Objekte</li>
                    <li>Error Reporting</li>
                    <li>Autovervollständigung</li>
                    <li>Rendereinstellungen (orthografisch, perspektivisch)</li>
                    <li>Eigene Models, Szene</li>
                </ul>
            </li>
        </ul>
{% endif %}
{% if site == 'sources' %}
        <strong style="font-size: 30px; font-weight: bold;">Quellen</strong>
        <ul style="font-size: 20px; word-break: break-word;">
            <li><a href="http://threejs.org/">http://threejs.org/</a></li>
            <li><a href="https://www.khronos.org/webgl/wiki/WebGL_and_OpenGL_Differences">https://www.khronos.org/webgl/wiki/WebGL_and_OpenGL_Differences</a></li>
            <li><a href="https://nccastaff.bournemouth.ac.uk/jmacey/MastersProjects/MSc12/Hoare/CharlotteHoare_Thesis.pdf">https://nccastaff.bournemouth.ac.uk/jmacey/MastersProjects/MSc12/Hoare/CharlotteHoare_Thesis.pdf</a></li>
            <li><a href="http://research.microsoft.com/en-us/um/people/hoppe/hatching.pdf">http://research.microsoft.com/en-us/um/people/hoppe/hatching.pdf</a></li>
            <li><a href="https://owncloud.uni-koblenz-landau.de/owncloud/index.php/s/O0ZOEPSoCLmmbTu/download?path=%2F&files=03_NPR.pdf">https://owncloud.uni-koblenz-landau.de/owncloud/index.php/s/O0ZOEPSoCLmmbTu/download?path=%2F&files=03_NPR.pdf</a></li>
            <li><a href="https://www.clicktorelease.com/code/npr-shading/">https://www.clicktorelease.com/code/npr-shading/</a></li>
            <li><a href="https://www.researchgate.net/profile/Niklas_Roeber/publication/268340371_Enhanced_Cartoon_and_Comic_Rendering/links/54887f100cf2ef3447909ce4.pdf">https://www.researchgate.net/profile/Niklas_Roeber/publication/268340371_Enhanced_Cartoon_and_Comic_Rendering/links/54887f100cf2ef3447909ce4.pdf</a></li>
            <li><a href="http://delivery.acm.org/10.1145/2030000/2024186/a152-sitthi-amorn.pdf?ip=141.26.160.10&id=2024186&acc=ACTIVE%20SERVICE&key=2BA2C432AB83DA15%2EEDC94797CF04641B%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35&CFID=754141336&CFTOKEN=88871728&__acm__=1455826785_6cf17230739089511ebe1dd1cd1472d5">http://delivery.acm.org/10.1145/2030000/2024186/a152-sitthi-amorn.pdf?ip=141.26.160.10&id=2024186&acc=ACTIVE%20SERVICE&key=2BA2C432AB83DA15%2EEDC94797CF04641B%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35&CFID=754141336&CFTOKEN=88871728&__acm__=1455826785_6cf17230739089511ebe1dd1cd1472d5</a></li>
            <li><a href="http://www.thomaseichhorn.de/npr-sketch-shader-vvvv/">http://www.thomaseichhorn.de/npr-sketch-shader-vvvv/</a></li>
        </ul>
        <br>
        <a href="{% url 'presentation' 'thankyou' %}" class="btn btn-primary btn-lg">weiter</a>
{% endif %}
{% if site == 'thankyou' %}
        <div class="text-center" style="margin-top: 100px;">
            <strong style="font-size: 50px; font-weight: bold;">Vielen Dank</strong>
            <br><br>
            <strong style="font-size: 40px; font-weight: bold;">Fragen?</strong>
        </div>
        <input type="hidden" name="object_type" id="object_type" value="tyra"/>
{% endif %}
    </div>
    </div>
</div>
<script>$(document).lareReadyOnce(function() { initOnce(); init(); animate(); });</script>
{% endblock content %}
