{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
<div id="page" style="position: relative; height: 100%;">
    <div id="editor_plane" style="height: 100%; position: relative; width: 50%; left: 0; top:0">
        <br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group ace-wrapper" id="program_{{ Program.get_id }}_wrapper">
                        <input type="text" class="form-control" name="name" value="{{ Program.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                        <select name="object_type" id="object_type" class="form-control">
                            <option value="torus" {% if Program.get_object_type_display == 'torus' %}selected{% endif %}>{% _"Torus Knot" %}</option>
                            <option value="sphere" {% if Program.get_object_type_display == 'sphere' %}selected{% endif %}>{% _"Sphere" %}</option>
                            <option value="cube" {% if Program.get_object_type_display == 'cube' %}selected{% endif %}>{% _"Cube" %}</option>
                            <option value="teapot" {% if Program.get_object_type_display == 'teapot' %}selected{% endif %}>{% _"Teapot" %}</option>
                        </select>
                        <a href="#" class="btn btn-default save-program save" data-id="{{ Program.get_id }}">{% _"save" %} (Ctrl-S)</a>
                        <a href="#" class="btn btn-default preview-program preview">{% _"preview" %} (Ctrl-D)</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#snippet_{{ Program.get_init.get_id }}_wrapper"><h4>Init method</h4></a>
                        <div class="form-group collapse ace-wrapper" id="snippet_{{ Program.get_init.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_init.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <div class="resizable resizable_snippet_{{ Program.get_init.get_id }}"><div id="snippet_{{ Program.get_init.get_id }}" class="form-control ace_editor snippet" data-mode="javascript">{{ Program.get_init.get_code|raw }}</div></div>
                            <a href="#" class="btn btn-default save-snippet save" data-id="{{ Program.get_init.get_id }}">{% _"save" %} (Ctrl-S)</a>
                            <a href="#" class="btn btn-default preview-snippet preview">{% _"preview" %} (Ctrl-D)</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#snippet_{{ Program.get_render.get_id }}_wrapper"><h4>Render method</h4></a>
                        <div class="form-group collapse ace-wrapper" id="snippet_{{ Program.get_render.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_render.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <div class="resizable resizable_snippet_{{ Program.get_render.get_id }}"><div id="snippet_{{ Program.get_render.get_id }}" class="form-control ace_editor snippet" data-mode="javascript">{{ Program.get_render.get_code|raw }}</div></div>
                            <a href="#" class="btn btn-default save-snippet save" data-id="{{ Program.get_render.get_id }}">{% _"save" %} (Ctrl-S)</a>
                            <a href="#" class="btn btn-default preview-snippet preview">{% _"preview" %} (Ctrl-D)</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#shader_{{ Program.get_material.get_id }}_wrapper"><h4>Material</h4></a>
                        <div class="form-group ace-wrapper collapse in" id="shader_{{ Program.get_material.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_material.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <label for="snippet_{{ Program.get_material.get_vertex_id }}">Vertex</label>
                            <div class="resizable resizable_snippet_{{ Program.get_material.get_vertex_id }}"><div id="snippet_{{ Program.get_material.get_vertex_id }}" class="form-control ace_editor vertex" data-mode="glsl">{{ Program.get_material.get_vertex.get_code|raw }}</div></div>
                            <label for="snippet_{{ Program.get_material.get_vertex_id }}">Fragment</label>
                            <div class="resizable resizable_snippet_{{ Program.get_material.get_fragment_id }}"><div id="snippet_{{ Program.get_material.get_fragment_id }}" class="form-control ace_editor fragment" data-mode="glsl">{{ Program.get_material.get_fragment.get_code|raw }}</div></div>
                            <a href="#" class="btn btn-default save-shader save" data-id="{{ Program.get_material.get_id }}">{% _"save" %} (Ctrl-S)</a>
                            <a href="#" class="btn btn-default preview-shader preview">{% _"preview" %} (Ctrl-D)</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#postprocessing"><h4>Postprocessing</h4></a>
                        <div class="shaderpasses collapse" id="postprocessing">
                            {% for shaderPass in Program.get_shader_passes %}
                                {% include "_include/_shader_pass.html" %}
                            {% endfor %}
                            <p>
                                <a href="#" class="btn btn-default" id="add-shader-pass" data-program-id="{{ Program.get_id }}">Add Postprocessing Shader</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="render_plane" style="height: 100%; position: fixed; width: 50%; right: 0; top:0"></div>
    <script>
        var container;

        var camera, renderer, depthRenderer, composer, normalTexture, depthTexture;

        var renderPasses = []
        var shaderPasses = [];
        {% for shaderPass in Program.get_shader_passes %}
            shaderPasses.push({'id': '{{ shaderPass.get_id }}', 'vertex_id': '{{ shaderPass.get_shader.get_vertex_id }}','fragment_id': '{{ shaderPass.get_shader.get_fragment_id }}'});
        {% endfor %}

        var uniforms = {};

        var clock = new THREE.Clock();

        var editors = {};
        var snippets = {};
        function init() {

            container = document.getElementById( 'render_plane' );

            container.innerHTML = '';

            camera = new THREE.PerspectiveCamera( 40, (window.innerWidth/2) / window.innerHeight, 1, 3000 );
            camera.position.z = 3;
            renderPasses = [];
            renderPasses.push({'scene': new THREE.Scene(), 'material': new THREE.ShaderMaterial({
                uniforms: {},
                vertexShader: snippets[{{ Program.get_material.get_vertex.get_id }}],/* vertex_shader */
                fragmentShader: snippets[{{ Program.get_material.get_fragment.get_id }}]/* fragment_shader */
            }), 'render_target': null, 'texture_name': 'tDiffuse'});

            renderPasses.push({'scene': new THREE.Scene(), 'material': new THREE.ShaderMaterial( {
                uniforms: {},
                vertexShader: ["varying vec3 vNormal;",
                    "void main() {",
                    "    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );",
                    "    vNormal = normalize( normalMatrix * normal );",
                    "}"].join('\n'),
                fragmentShader: ["varying vec3 vNormal;",
                    "",
                    "void main() {",
                    "gl_FragColor = vec4(vNormal, 1.0 );",
                    "",
                    "}"].join('\n')
            }), 'render_target': new THREE.WebGLRenderTarget( window.innerWidth/2, window.innerHeight, { minFilter: THREE.LinearFilter, magFilter: THREE.NearestFilter, format: THREE.RGBFormat } ), 'texture_name': 'tNormals'});

            renderPasses.push({'scene': new THREE.Scene(), 'material': new THREE.ShaderMaterial({
                uniforms: {},
                vertexShader: ["varying vec4 vViewPosition;",
                    "void main() {",
                    "    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );",
                    "    vViewPosition = gl_Position;",
                    "}"].join('\n'),
                fragmentShader: ["varying vec4 vViewPosition;",
                    "void main() {",
                    "float depth = 1.0-vViewPosition.z/vViewPosition.w;",
                    "gl_FragColor = vec4(depth, depth, depth, 1.0);",
                    "}"].join('\n')
            }), 'render_target': new THREE.WebGLRenderTarget( window.innerWidth/2, window.innerHeight, { minFilter: THREE.LinearFilter, magFilter: THREE.NearestFilter, format: THREE.RGBFormat } ), 'texture_name': 'tDepth'});

            /* START PROGRAM INIT PART */
            eval(snippets[{{ Program.get_init.get_id }}]);
            /* END PROGRAM INIT PART */

            uniforms.resolution = { type: "v2", value: new THREE.Vector2() };
            uniforms.time = { type: "f", value: 1.0 };
            uniforms.hatch0 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch0.png' ) };
            uniforms.hatch1 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch1.png' ) };
            uniforms.hatch2 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch2.png' ) };
            uniforms.hatch3 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch3.png' ) };
            uniforms.hatch4 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch4.png' ) };
            uniforms.hatch5 = { type: 't', value: THREE.ImageUtils.loadTexture( '/static/img/textures/hatch5.png' ) };

            for (var i=0; i < renderPasses.length; i++) {
                uniforms[renderPasses[i].texture_name] = { type: "t", value: renderPasses[i].render_target };
            }

            for (var i=0; i < renderPasses.length; i++) {
                renderPasses[i].material.uniforms = uniforms;
            }

            var geometry;
            geometry_selection = $('#object_type').val();
            switch (geometry_selection) {
                case 'sphere':
                    geometry = new THREE.SphereGeometry( 0.5, 32, 32 );
                    break;
                case 'torus':
                    geometry = new THREE.TorusKnotGeometry( 0.3, 0.1, 1000, 54 );
                    break;
                case 'teapot':
                    geometry = new THREE.TeapotGeometry(0.3, 10, true, true, true, true);
                    break;
                case 'cube':
                    geometry = new THREE.BoxGeometry( 1, 1, 1 );
                    break;
                default:
                    geometry = new THREE.TorusKnotGeometry( 0.3, 0.1, 1000, 54 );
            }

            for (var i=0; i < renderPasses.length; i++) {
                renderPasses[i].scene.add(new THREE.Mesh( geometry, renderPasses[i].material ));
            }

            renderer = new THREE.WebGLRenderer({logarithmicDepthBuffer: true });
            renderer.setPixelRatio( (window.innerWidth/2) / window.innerHeight );
            renderer.setClearColor( 0x000000, 1);
            renderer.setSize( window.innerWidth/2, window.innerHeight );
            container.appendChild( renderer.domElement );



            onWindowResize();

            window.addEventListener( 'resize', onWindowResize, false );

        }

        function onWindowResize( event ) {

            uniforms.resolution.value.x = window.innerWidth/2;
            uniforms.resolution.value.y = window.innerHeight;

            camera.aspect = (window.innerWidth/2) / window.innerHeight;
            camera.updateProjectionMatrix();

            for (var i=1; i < renderPasses.length; i++) {
                renderPasses[i].render_target.setSize( window.innerWidth/2, window.innerHeight );
            }
            renderer.setSize( window.innerWidth/2, window.innerHeight );

            composer = new THREE.EffectComposer( renderer );
            composer.addPass( new THREE.RenderPass( renderPasses[0].scene, camera ) );
            for (var i = 0; i < shaderPasses.length; i++) {
                composer.addPass(new THREE.ShaderPass({ uniforms: uniforms, vertexShader: snippets[shaderPasses[i].vertex_id], fragmentShader: snippets[shaderPasses[i].fragment_id] }));
            }
            var effect = new THREE.ShaderPass( THREE.CopyShader );
            effect.renderToScreen = true;
            composer.addPass( effect );

        }

        function animate() {

            requestAnimationFrame( animate );

            render();

        }

        function render() {

            var delta = clock.getDelta();
            uniforms.time.value += delta * 5;

            /* START PROGRAM RENDER PART */
            eval(snippets[{{ Program.get_render.get_id }}]);
            /* END PROGRAM RENDER PART */

            for (var i=1; i < renderPasses.length; i++) {
                renderer.render( renderPasses[i].scene, camera, renderPasses[i].render_target, true );
            }

            composer.render();
        }

        snippets[{{ Program.get_render.get_id }}] = `
        {{ Program.get_render.get_code|raw }}
        `;
        snippets[{{ Program.get_init.get_id }}] = `
        {{ Program.get_init.get_code|raw }}
        `;
        snippets[{{ Program.get_material.get_vertex.get_id }}] = `
        {{ Program.get_material.get_vertex.get_code|raw }}
        `;
        snippets[{{ Program.get_material.get_fragment.get_id }}] = `
        {{ Program.get_material.get_fragment.get_code|raw }}
        `;
        {% for shaderPass in Program.get_shader_passes %}
            snippets[{{ shaderPass.get_shader.get_vertex_id }}] = `
        {{ shaderPass.get_shader.get_vertex.get_code|raw }}
        `;
        snippets[{{ shaderPass.get_shader.get_fragment_id }}] = `
        {{ shaderPass.get_shader.get_fragment.get_code|raw }}
        `;
        {% endfor %}
        $(document).ready(function() {
            try {
                init();
                animate();
            } catch (Exception) {

            }
        });

    </script>
</div>
{% endblock page %}
