{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
<div id="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{% _"Choose your Shaders" %}</h2>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="id_vertex">{% _"Vertex Shader" %}:</label>
                    <select name="vertex" id="id_vertex" class="form-control">{% for shader in vertexShaders %}<option value="{{ shader.get_id }}">{{ shader.get_name }}</option>{% endfor %}</select>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="id_fragment">{% _"Fragment Shader" %}:</label>
                    <select name="fragment" id="id_fragment" class="form-control">{% for shader in fragmentShaders %}<option value="{{ shader.get_id }}">{{ shader.get_name }}</option>{% endfor %}</select>
                </div>
            </div>
            <div class="col-xs-12">
                <a href="#" class="btn btn-primary btn-render">{% _"render" %}</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.btn-render').off('click').on('click', function(e) {
            e.preventDefault();
            $(document).lare.request('/shader/'+$('#id_vertex').val()+'/'+$('#id_fragment').val()+'/');
        });
    </script>
</div>
{% endblock page %}