{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
<div id="page" style="position: relative; height: 100%;">
    <div id="editor_plane" style="height: 100%; position: absolute; width: 50%; left: 0; top:0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="vertex">Vertex:</label>
                        <textarea id="vertex" class="form-control">{{ VertexShader.get_program }}</textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="fragment">Fragment:</label>
                        <textarea id="fragment" class="form-control">{{ FragmentShader.get_program }}</textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="init">Init method:</label>
                        <textarea id="init" class="form-control">
                            var geometry = new THREE.BoxGeometry( 1, 1, 1 );
                            uniforms = {
                                time: { type: "f", value: 1.0 },
                                resolution: { type: "v2", value: new THREE.Vector2() }
                            };
                            var material = new THREE.ShaderMaterial( {
                                uniforms: uniforms,
                                vertexShader: document.getElementById( 'vertex_shader' ).textContent,
                                fragmentShader: document.getElementById( 'fragment_shader' ).textContent

                            } );
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="render_plane" style="height: 100%; position: absolute; width: 50%; right: 0; top:0"></div>

    <script id="fragment_shader" type="x-shader/x-fragment">
        {{ FragmentShader.get_program }}
    </script>
    <script id="vertex_shader" type="x-shader/x-vertex">
        {{ VertexShader.get_program }}
    </script>

    <script>

        var container;

        var camera, scene, renderer;

        var uniforms;

        var clock = new THREE.Clock();

        init();
        animate();

        function init() {

            container = document.getElementById( 'render_plane' );

            camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 3000 );
            camera.position.z = 4;

            scene = new THREE.Scene();

            var geometry = new THREE.BoxGeometry( 1, 1, 1 );

            uniforms = {
                time: { type: "f", value: 1.0 },
                resolution: { type: "v2", value: new THREE.Vector2() }
            };


            var material = new THREE.ShaderMaterial( {

                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertex_shader' ).textContent,
                fragmentShader: document.getElementById( 'fragment_shader' ).textContent

            } );

            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );


            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setClearColor( 0x000000, 1);
            container.appendChild( renderer.domElement );

            onWindowResize();

            window.addEventListener( 'resize', onWindowResize, false );

        }

        function onWindowResize( event ) {

            uniforms.resolution.value.x = window.innerWidth/2;
            uniforms.resolution.value.y = window.innerHeight;

            camera.aspect = window.innerWidth/2 / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize( window.innerWidth/2, window.innerHeight );

        }

        function animate() {

            requestAnimationFrame( animate );

            render();

        }

        function render() {

            var delta = clock.getDelta();

            uniforms.time.value += delta * 5;

            for ( var i = 0; i < scene.children.length; i ++ ) {

                var object = scene.children[ i ];

                object.rotation.y += delta * 1;
                object.rotation.x += delta * 1;

            }

            renderer.render( scene, camera );

        }

    </script>


</div>
{% endblock page %}
