{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
<div id="page" style="position: relative; height: 100%;">
    <div id="editor_plane" style="height: 100%; position: relative; width: 50%; left: 0; top:0">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#snippet_{{ Program.get_init.get_id }}_wrapper"><h4>Init method</h4></a>
                        <div class="form-group collapse snippet" id="snippet_{{ Program.get_init.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_init.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <div id="snippet_{{ Program.get_init.get_id }}" class="form-control ace_editor snippet" data-mode="javascript">{{ Program.get_init.get_code|raw }}</div>
                            <a href="#" class="btn btn-default save-snippet" data-id="{{ Program.get_init.get_id }}">{% _"save" %}</a>
                            <a href="#" class="btn btn-default preview-snippet">{% _"preview" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#snippet_{{ Program.get_render.get_id }}_wrapper"><h4>Render method</h4></a>
                        <div class="form-group collapse snippet" id="snippet_{{ Program.get_render.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_render.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <div id="snippet_{{ Program.get_render.get_id }}" class="form-control ace_editor snippet" data-mode="javascript">{{ Program.get_render.get_code|raw }}</div>
                            <a href="#" class="btn btn-default save-snippet" data-id="{{ Program.get_render.get_id }}">{% _"save" %}</a>
                            <a href="#" class="btn btn-default preview-snippet">{% _"preview" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#shader_{{ Program.get_material.get_id }}_wrapper"><h4>Material</h4></a>
                        <div class="form-group collapse shader" id="shader_{{ Program.get_material.get_id }}_wrapper">
                            <input type="text" class="form-control" name="name" value="{{ Program.get_material.get_name }}" style="background-color: rgb(39, 40, 34); color: #f7f7f7;">
                            <label for="snippet_{{ Program.get_material.get_vertex_id }}">Vertex</label>
                            <div id="snippet_{{ Program.get_material.get_vertex_id }}" class="form-control ace_editor vertex" data-mode="glsl">{{ Program.get_material.get_vertex.get_code|raw }}</div>
                            <label for="snippet_{{ Program.get_material.get_vertex_id }}">Fragment</label>
                            <div id="snippet_{{ Program.get_material.get_fragment_id }}" class="form-control ace_editor fragment" data-mode="glsl">{{ Program.get_material.get_fragment.get_code|raw }}</div>
                            <a href="#" class="btn btn-default save-shader" data-id="{{ Program.get_material.get_id }}">{% _"save" %}</a>
                            <a href="#" class="btn btn-default preview-shader">{% _"preview" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="well">
                        <a data-toggle="collapse" href="#postprocessing"><h4>Postprocessing</h4></a>
                        <div class="shaderpasses collapse" id="postprocessing">
                            {% for shaderPass in Program.get_shader_passes %}
                                {% include "_include/_shader_pass.html" %}
                            {% endfor %}
                            <p>
                                <a href="#" class="btn btn-default" id="add-shader-pass" data-program-id="{{ Program.get_id }}">Add Postprocessing Shader</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="render_plane" style="height: 100%; position: fixed; width: 50%; right: 0; top:0"></div>

    <script>
        var container;

        var camera, scene, renderer;

        var uniforms;

        var clock = new THREE.Clock();

        var editors = {};
        var snippets = {};

        function init() {

            container = document.getElementById( 'render_plane' );

            container.innerHTML = '';

            camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 3000 );
            camera.position.z = 3;

            scene = new THREE.Scene();

            var geometry = new THREE.BoxGeometry( 1, 1, 1 );

            /* START PROGRAM INIT PART */
            eval(snippets[{{ Program.get_init.get_id }}]);
            /* END PROGRAM INIT PART */
            var material;
            material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: snippets[{{ Program.get_material.get_vertex.get_id }}],/* vertex_shader */
                fragmentShader: snippets[{{ Program.get_material.get_fragment.get_id }}]/* fragment_shader */
            } );
            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );


            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setClearColor( 0x000000, 1);
            container.appendChild( renderer.domElement );

//            var renderPass = new THREE.RenderPass(scene, camera);
//
//            var composer = new THREE.EffectComposer(renderer);
//            composer.addPass(renderPass);

            onWindowResize();

            window.addEventListener( 'resize', onWindowResize, false );

        }

        function onWindowResize( event ) {

            uniforms.resolution.value.x = window.innerWidth/2;
            uniforms.resolution.value.y = window.innerHeight;

            camera.aspect = window.innerWidth/2 / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize( window.innerWidth/2, window.innerHeight );

        }

        function animate() {

            requestAnimationFrame( animate );

            render();

        }

        function render() {

            /* START PROGRAM RENDER PART */
            var delta = clock.getDelta();
//            uniforms.time.value += delta * 5;
            eval(snippets[{{ Program.get_render.get_id }}]);

//            eval(editors['render_{{ Program.get_render.get_id }}'].getSession().getValue());

            /* END PROGRAM RENDER PART */

            renderer.render( scene, camera );
//            composer.render();

        }
        snippets[{{ Program.get_render.get_id }}] = `
        {{ Program.get_render.get_code|raw }}
        `;
        snippets[{{ Program.get_init.get_id }}] = `
        {{ Program.get_init.get_code|raw }}
        `;
        snippets[{{ Program.get_material.get_vertex.get_id }}] = `
        {{ Program.get_material.get_vertex.get_code|raw }}
        `;
        snippets[{{ Program.get_material.get_fragment.get_id }}] = `
        {{ Program.get_material.get_fragment.get_code|raw }}
        `;
        $(document).ready(function() {
            try {
                init();
                animate();
            } catch (Exception) {

            }
        });

    </script>
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $('.shaderpasses').sortable();
        $('.ace_editor').each(function() {
            editors[$(this).attr('id')] = ace.edit($(this).attr('id'));
            editors[$(this).attr('id')].setTheme("ace/theme/monokai");
            editors[$(this).attr('id')].getSession().setMode("ace/mode/"+$(this).attr('data-mode'));
        })
    </script>


</div>
{% endblock page %}
